$site-width: 960px;
$site-mobile-width: 550px;

$header-height: 135px;
$header-inside-height: 100px;

$left-side-wrapper-width: 650px;
$left-side-wrapper-width-narrow: 240px;

$control-button-width: 35px;

$status-online: #46cc00;
$status-offline: #ff4141;
$control-button-color: #6ab367;
$disabled-color: #424242;
