@font-face {
  font-family: 'Charcoal';
  font-style: normal;
  src: url("/fonts/Charcoal.ttf") format("truetype"); }
  @font-face {
	font-family: "MaidenOrange";
	font-style: normal;
	src: url(../fonts/MaidenOrange-webfont.eot); /*if IE */
	src: local("MaidenOrange"), url("/fonts/MaidenOrange2.ttf") format("truetype"); /* non-IE */
}
* {
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *::-moz-focus-inner {
    border: 0; }

body {
  background: #0B0D3E url("../images/background.png") no-repeat center top;
  font-family: Charcoal,sans-serif;
  color: #333;
  margin: 0;
  padding: 0; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix {
  clear: both; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.mobile-header .logo {
  float: none; }

.mobile-wrapper {
  width: 550px;
  margin: 0 auto; }
  .mobile-wrapper .time_wrapper {
    margin: 0 0 10px;
    text-align: center; }
  .mobile-wrapper .control-button-wrapper {
    width: 257px;
    margin-bottom: 15px; }

.header {
  width: 960px;
  height: 135px;
  margin: 0 auto; }
  .header h2 {
    padding: 10px;
    text-align: center; }

.mobile-header {
  width: 550px;
  height: 135px;
  margin: 0 auto;
  text-align: center; }

.header-inside {
  height: 100px;
  display: block; }

.logo {
  height: 100px;
  padding: 19px 0;
  display: block;
  float: left;
  vertical-align: middle; }

.status-wrapper {
  height: 100px;
  line-height: 30px;
  padding: 35px 40px;
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 30px; }

.status__online {
  color: #46cc00; }

.status__offline {
  color: #ff4141; }

.nav {
  width: 960px;
  height: 20px;
  vertical-align: middle; }
  .nav a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    background-color: #f1f1f1; }
    .nav a:hover {
      background-color: #bababa; }

.content {
  width: 675px;
  float: left;
  padding: 10px; }

#sidebar {
  width: 150px;
  float: right;
  margin-bottom: 25px; }
  #sidebar a {
    text-decoration: none; }
  #sidebar li {
    list-style: none; }

.footer {
  clear: both;
  width: 960px;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  color: #fff; }
  .footer p {
    padding: 10px; }

.force-mobile-link-wrapper {
  margin: 20px 0;
  text-align: center; }

.force-mobile-link {
  color: #fff;
  text-decoration: none; }

.mobile-footer {
  width: 550px; }

/*MENU START*/
.menu {
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style: none; }
  .menu li {
    display: inline-block;
    float: left;
    list-style: none; }
    .menu li a, .menu li a:link {
      background-color: #000;
      margin-right: 5px;
      padding: 3px 7px;
      color: #fff;
      text-decoration: none;
      text-align: center; }
    .menu li a:hover {
      color: #ff4141; }
    .menu li a:active {
      background-color: #fff;
      color: #000; }
    .menu li.active a {
      background-color: #fff;
      color: #000; }

/* MENU END*/
.left_side_wrapper,
.right_side_wrapper,
.left_side_wrapper--narrow,
.right_side_wrapper--wide {
  float: left;
  text-align: center; }

.left_side_wrapper {
  width: 650px; }

.left_side_wrapper--narrow {
  width: 240px; }
  .left_side_wrapper--narrow .time_wrapper {
    margin: 0 10px 10px 10px; }
  .left_side_wrapper--narrow .time-header {
    margin: 0 10px; }

.right_side_wrapper {
  width: 350px;
  padding: 0 0 0 20px; }

.right_side_wrapper--wide {
  width: 720px;
  padding: 0 0 0 20px; }

.stream_wrapper {
  padding: 10px;
  background-color: #000; }

.time-header img {
  width: 100%;
  display: block; }

.time_wrapper {
  padding: 15px;
  background-color: #000;
  color: #fff; }
  .time_wrapper .current-time {
    padding: 10px 0 0; }

.controls-on-time {
  font-size: 14px; }

.send-message-wrapper {
  padding: 8px;
  background-color: #000;
  color: #fff; }

.send-message-title {
  padding: 0 0 10px; }

.message-wrapper {
  padding: 10px;
  margin: 10px 0;
  background: repeating-linear-gradient(30deg, #e3e8da, #e3e8da 10px, #9b1500 10px, #9b1500 20px, #e3e8da 20px, #e3e8da 28px, #9b1500 28px, #9b1500 33px, #e3e8da 33px, #e3e8da 41px, #9b1500 41px, #9b1500 51px, #e3e8da 51px, #e3e8da 61px);
  color: #fff; }

.message-wrapper-inner {
  min-height: 110px;
  padding-top: 55px;
  background-color: #000; }

.message-wrapper-text {
  transform: translateY(-50%); }

.message-input-field-wrapper input[type="text"] {
  width: 100%; }

.send-message-button-wrapper {
  font-family: sans-serif;
  font-weight: 700;
  display: inline-block;
  margin: 15px 0 10px;
  background-color: #fff; }
  .send-message-button-wrapper .button {
    padding: 0 20px;
    display: inline-block;
    margin: 2px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none; }
    .send-message-button-wrapper .button.disabled {
      border-color: #424242;
      color: #424242;
      cursor: not-allowed; }

.control-status {
  color: #fff;
  text-align: center; }

.buttons-wrapper {
  padding: 10px;
  margin: 10px 0 0;
  background-color: #000;
  text-align: center; }

.control-button-row {
  padding: 10px 0 0; }
  .control-button-row.control-button-row__2-element {
    width: calc(100% * (2/3));
    display: inline-block; }
  .control-button-row.control-button-row__1-element {
    width: calc(100% / 3);
    display: inline-block; }

.control-button-holder {
	display: inline-block;
}

.control-button-wrapper {
  width: 200px;
  margin-right: 15px;
  float: left;
  border: 2px solid #fff;
  text-align: center; }
  .control-button-wrapper.last-element {
    margin-right: 0; }

.control-button-inner-wrapper {
  padding: 2px 5px;
  background-color: #6ab367;
  border-width: 2px 3px;
  border-color: #000;
  border-style: solid; }

.control-button-title {
  max-width: calc(100% - 70px);
  display: inline-block;
  font-family: Arial;
  color: #000; }

.control-button {
  width: 35px;
  display: inline-block;
  border: 1px solid #000; }
  .control-button.disabled {
    border-color: #424242; }
    .control-button.disabled a {
      color: #424242;
      cursor: not-allowed; }
  .control-button a {
    width: 100%;
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }

.control-button-on {
  float: left; }

.control-button-off {
  float: right; }

.page-text-wrapper {
  padding: 20px;
  background-color: #000; }

.page-text-inner-wrapper {
  min-height: 200px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding: 10px;
  background-color: #fff;
  text-align: left; }

/*# sourceMappingURL=style.css.map */
